<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!--  BỐ CỤC  -->
<!--<router-outlet></router-outlet>-->
<!--<app-navbar></app-navbar>-->
<!--<div id="container">-->
<!--  <div id="content-container">-->
<!--    <div id="left-content"></div>-->
<!--    <div id="middle-content">-->
<!--      <div class="middle-content-top"></div>-->
<!--      <div class="middle-content-mid"></div>-->
<!--      <div class="middle-content-bot"></div>-->
<!--    </div>-->
<!--    <div id="right-content"></div>-->
<!--  </div>-->
<!--</div>-->
